<div id="controller-wrapper" data-ng-controller = "timelineController">

  <div id="hero">
  <h1>My LifeTime</h1>
  <p>Add new lines and events using the form below.</p>
  </div>

  <form name="form" id="add-line-form" ng-submit = "addTimeline(timeline)">
  <input name="name" type = "text" id="tform" ng-model = "timeline.name" required/>
  <input name="submit" type = "submit" value = "Submit" class="btn btn-default"/>
  <div id="add-line-options">
    Public: <input name = "pub" type = "checkbox"   ng-model="vis.pub"/>
    Private: <input name = "priv" type = "checkbox"  ng-model="vis.priv"/>
    <!--test button <input name="test"type = "button" value = "log" ng-click="log()" />-->
  </div> 
  </form>

  <div data-timeline-directive></div><!-- /.timeline -->
</div><!-- /#controller-wrapper -->